<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spatial by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body class="landing">

<!-- Header -->
<header id="header" class="alt">
    <nav id="nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Generic</a></li>
            <li><a href="#">Elements</a></li>
        </ul>
    </nav>
</header>

<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
<section id="banner">
    <h2>Fam Bam</h2>
    <p>Welcome to our family <br /> Home, sweet home.</p>
    <ul class="actions">
        <li><a href="#" class="button special big">Get Started</a></li>
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2>Some Descriptions</h2>
                    <p>I will add later. Just dummy texts for now</p>
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ea mollitia corporis id, distinctio sunt veritatis officiis dolore reprehenderit deleniti voluptatibus harum magna, doloremque alias quisquam minus, eaque. Feugiat quod, nesciunt! Iste quos ipsam, iusto sit esse.</p>
                <p>Dolorum aspernatur maxime libero ratione quidem distinctio, placeat fugiat laborum voluptatum enim neque soluta vel sunt id ex veritatis. Labore rerum, odit sapiente, alias mollitia magnam exercitationem modi amet earum quia atque ipsum voluptas asperiores quas laboriosam.</p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>More Functionality Here</h2>
            <p>Chill Chill Chill!</p>
        </header>
        <div class="row 150%">
            <div class="6u 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="images/pic02.jpg" alt="" />
                    <h3>Maybe</h3>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="images/pic03.jpg" alt="" />
                    <h3>Maybe not</h3>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li><a href="#" class="button special big">Nulla luctus</a></li>
            <li><a href="#" class="button big">Sed vulputate</a></li>
        </ul>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major special">
            <h2>Members</h2>
            <p> Click pictures to login</p>
        </header>
        <div class="feature-grid">
            <div class="feature">
                <div class="image rounded"><img src="https://drive.google.com/uc?export=view&id=1bx0Y16ryjZX_DNOfYCeIYwwFHVS8_QdU" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Sudeep</h4>
                    </header>
                    <p>All they way from Texas</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="https://drive.google.com/uc?export=view&id=1s76j8H9-XwuV0dyjEXyfAkvgpSBj0Afi" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Anita</h4>

                    </header>
                    <p>All the way from MaryLand</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="https://drive.google.com/uc?export=view&id=15hWO4ZFKWEOmMNpH9hmGi4NOnDDhfAuN" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Dikshya</h4>
                    </header>
                    <p>All the way from Texas</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="https://drive.google.com/uc?export=view&id=13UaOSJpT4LUF4p5qGMcpVrnvqLM1SjAA" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Saroj</h4>
                    </header>
                    <p>All the way from Arkansas</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="https://drive.google.com/uc?export=view&id=1fsSDkm8vq086-GY8G5hT9GQ92iBJvAWk" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Naresh</h4>
                    </header>
                    <p>All the way from Arkansas</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Contact Us</h2>
            <p>We won't respond though</p>
        </header>
        <ul class="actions">
            <li><a href="#" class="button special big">Get in touch</a></li>
        </ul>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Images: Facebook</li>
        </ul>
    </div>
</footer>


</body>
</html>